build/
reports/
[Bb]in/
[Oo]bj/
TestResults/
PrecompiledWeb/
src/CommonAssemblyInfo.cs
src/packages/
artifacts
lib
*.gpState
*.suo
*.user
*[Rr]e[Ss]harper*
*.cache
UpgradeLog.XML
_UpgradeReport_Files/
*.bak
*.log
*.log.*
