build/
dist/
tools/
reports/
[Bb]in/
[Oo]bj/
TestResults/
PrecompiledWeb/
build/CommonAssemblyInfo.cs
src/packages/
artifacts
lib
*.gpState
*.suo
*.user
*[Rr]e[Ss]harper*
*.cache
UpgradeLog.XML
_UpgradeReport_Files/
*.bak
*.log
*.log.*
TestResult.xml
node_modules
yarn-error.log
.yarnclean
